@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Raleway|Russo+One&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-size: 17pt;
    background-color: #f7fcff;
    padding-bottom: 4%;
    font-family: 'Raleway', sans-serif;
}

.coreybakerrotoscope {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    top: 0;
    color: #002f87;
    width: 13%;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

li a {
    display: block;
    padding: 11%;
    background-color: #01baef;
    background: rgba(1, 186, 239, 0.8);
    text-align: center;
    color: white;
    border: 4px solid #f7fcff;
    text-decoration: none;
    font-family: 'Indie Flower', sans-serif;
    font-size: 28px;
}

.active {
    background-color: #e27100;
    text-decoration: underline;
}

li a:hover {
    background-color: #555;
    color: white;
    text-decoration: underline;
}

h1 {
    position: absolute;
    top: -5%;
    right: 5%;
    text-align: center;
    font-size: 100px;
    font-family: 'Russo One', sans-serif;
    color: #002f87;
}

h2 {
    position: absolute;
    top: 18%;
    right: 5%;
    font-family: 'Indie Flower', sans-serif;
    color: #20bf55;
    text-align: right;
}

h3 {
    font-family: 'Indie Flower', sans-serif;
    color: #e27100;
}

div.profiles {
    height: auto;
    width: 25%;
    top: 33%;
    right: 5%;
    display: block;
    position: absolute;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    list-style-type: none;
    border: 5px solid #002f87;
}

img {
    width: 100%;
}

.description-logo {
    padding-top: 0%;
    padding-left: 15%;
    padding-right: 33%;
    text-align: justify;
}

.logo-foundation {
    width: 30%;
    padding-left: 15%;
    padding-top: 1%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.logo-twitter {
    width: 28%;
    padding-left: 15%;
    padding-top: 2%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.logo-baker {
    width: 33%;
    padding-left: 15%;
    padding-top: 3%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.logo-jackson {
    width: 31%;
    padding-left: 17%;
    padding-top: 1%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.earth-pic {
    margin-left: 4%;
    margin-bottom: 2%;
    width: 40%;
    float: right;
}

.about-paragraph {
    padding-top: 15%;
    padding-left: 15%;
    text-align: justify;
    padding-right: 5%;
}

.description-nologo {
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 33%;
    text-align: justify;
}

.description-baker {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 33%;
    text-align: justify;
}

.description-trump {
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 33%;
    text-align: justify;
}

.description-jackson1 {
    padding-top: 0%;
    padding-left: 15%;
    padding-right: 33%;
    text-align: justify;
}


.button-text {
    padding-left: 15%;
    padding-right: 54%;
    text-align: justify;
}

.rotoscope-button {
    background-color: #e27100;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20pt;
    font-family: 'Indie Flower', sans-serif;
    position: absolute;
    right: 33%;
    top: 89%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.donate-button {
    background-color: #e27100;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20pt;
    font-family: 'Indie Flower', sans-serif;
    position: absolute;
    right: 5%;
    top: 108%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 25%;
}

.song-button {
    background-color: #e27100;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20pt;
    font-family: 'Indie Flower', sans-serif;
    position: absolute;
    right: 5%;
    top: 107%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 25%;
}

.rotoscope-button:hover {
    border: 5px solid #002f87;
    background-color: #f7fcff;
    color: #e27100;
}

.donate-button:hover {
    border: 5px solid #002f87;
    background-color: #f7fcff;
    color: #e27100;
}

.song-button:hover {
    border: 5px solid #002f87;
    background-color: #f7fcff;
    color: #e27100;
}

.img1 {
    padding-left: 15%;
    width: 49%;
}

.img2 {
    padding-left: 5%;
    width: 45%;
}